.toolbar
  justify-content space-between
  & .toolbar-header
    display flex
    align-items center

.toolbar-tools
  display flex
  &__item
    margin 0 8px !important
    &:first-child
      margin-left 0 !important
    &:last-child
      margin-right 0 !important

.menu-icon
  min-width 48px !important
