.MarkdownEditor
  border 1px solid rgba(0, 0, 0, 0.37)
  margin-bottom 10px
  &-controls
    border-bottom 1px solid rgba(0, 0, 0, 0.37)
  &-linkInput
    padding 12px
    display flex
    justify-content flex-start
    border-bottom 1px solid rgba(0, 0, 0, 0.37)

.DraftEditor-root
  min-height 300px
  padding 12px

.RichEditor-blockquote
  padding-left 10px
  border-left 2px solid
