
.homeImage{
    position: absolute;
    width: 100%;
    height: auto;
    top:0%;
    left:0%;
}


.homeHeader {
    position: absolute;
    top: 30%;
    left: 57%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #000000;
}

.homeParagraph {
    position: absolute;
    top: 37%;
    left: 58%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #000000;
}

.joinButton{
    position: absolute;
    top: 43%;
    left: 72%;
}

