.entity-tree
  display flex
  flex-direction row

  &__tree-panel
    flex: 0 0 40%

  &__node-info
    display flex
    flex-direction column
    flex: 0 0 60%;
    padding: 0 20px;

  &__detail-view
    .detail-view__heading
      font-size 2rem

  //&__additional-info