.ThreadNew
  &-headline
    margin-bottom 20px

  &-formCard
    width fit-content
    padding 10px 20px

.ThreadNewForm
  &-input
    margin-bottom 30px
  &-label
    color rgba(0, 0, 0, 0.67)
    margin-bottom 10px

.MarkdownEditor
  border 1px solid rgba(0, 0, 0, 0.37)
  border-radius 4px
  margin-bottom 10px
  &-controls
    border-bottom 1px solid rgba(0, 0, 0, 0.37)


.DraftEditor-root
  min-height 120px
  padding 12px
