.Discussions
  p
    margin-bottom 20px
  h4
    margin-bottom 30px

.DiscussionCard
  margin-left 10px
  margin-right 10px

.DiscussionContainer
  display flex
  flex-direction row

.DiscussionTree
  width 100%
  max-width 30%
