.Discussions
  p
    margin-bottom 20px
  h4
    margin-bottom 30px

.DiscussionCard
  margin-left 10px
  margin-right 10px

.DiscussionContainer
  display flex
  flex-direction row

.DiscussionDetail
  width 100%
  margin-left 24px

.tree-node--highlight > .MuiTreeItem-content
  background-color rgba(0,0,0,0.08) !important
