.MarkdownEditor
  border 1px solid rgba(0, 0, 0, 0.37)
  border-radius 4px
  margin-bottom 10px
  &-controls
    border-bottom 1px solid rgba(0, 0, 0, 0.37)


.DraftEditor-root
  min-height 120px
  padding 12px
