.ThreadList
  width 100%
  &-actions
    margin-bottom 20px

    display flex
    flex-direction row
    justify-content space-between

    &__login-register > *:not(:last-child)
      margin-right 4px

  &-item
    margin-bottom 20px
